version: '3.9'

services:
  db:
    platform: linux/arm64/v8

  redis:
    platform: linux/arm64/v8

  cloud:
    platform: linux/arm64/v8

  nginx:
    platform: linux/arm64/v8

  cron:
    platform: linux/arm64/v8
